@use"../abstracts/variable" as v;


.card-mission{
    //width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: left center;
    border-radius: 20px;
    border: 1px solid #E5E7EB;
    padding: 20px 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(139, 139, 139);
    transition: all 0.3s ;

    &:hover{

        transform: scale(1.02);
    box-shadow: 0px 0px 10px rgb(139, 139, 139);


    }


    .card-mission__title{

        grid-column: 2/3;
        font-size: 23px;
        place-self: start;

    }

    .card-mission__utilisateur{

        grid-column: 2/3;

        display: flex;
        align-items: center;
        gap: 10px;

        &-img{

            height: 50px;
            width: 50px;
            border-radius: 5000px;
            overflow: hidden;

            img{

                height: 100%;
                width: 100%;
                object-fit: cover;

            }

        }


    }

    .card-mission__lieu{

        grid-column: 2/3;

        font-size: 20px;
        color: grey;


    }


    .card-mission__points{

        font-weight: 600;

        grid-column: 3/4;
        grid-row: 1/2;
        place-self: center center;

        padding: 10px;
        border-radius: 10px;
        background-color: #FFF3E0;

    }


}