@use"../abstracts/variable" as v;


.card-mes-mission{

    display: flex;
    flex-direction: column;
    gap: 15px;

    border: 1px solid grey;
    padding: 15px;
    border-radius: 20px;




    .card-mes-mission__state{

        align-self: center;
        margin: 0;

        display: flex;
        align-items: center;
        gap: 10px;

        ion-icon{

            font-size: 25px;

        }

        p{

            padding: 5px 10px;
            margin: 0;
            font-size: 16px;

        }



    }

    .card-mes-mission__title{

        font-size: 18px;
        margin: 0;

    }

    .card-mes-mission__date{

        margin: 0;

    }

    .card-mes-mission__button{

        padding: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;

    }

    &.confirmee{

        padding: 10px;
        border: 2px solid v.$third-color;

        .card-mes-mission__state{

        background-color: v.$third-color;
        color: white;
        padding: 10px;
        border-radius: 20px; 

        }


        .card-mes-mission__button{

            color: white;
            background-color: v.$third-color;

            transition: all 0.3s;

            &:hover{

                background-color: #0fa171;


            }

        }

    }

    &.attente{

        padding: 10px;
        border: 2px solid v.$fourth-color;

        .card-mes-mission__state{

        background-color: v.$fourth-color;
        color: white;
        padding: 10px;
        border-radius: 20px; 

        }


        .card-mes-mission__button{

            cursor: not-allowed;
            color: white;
            background-color: grey;

            transition: all 0.3s;

            &:hover{



            }

        }

    }

}