@use"../abstracts/variable" as v;


.modal-mission{

    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    //min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 20px;

    //align-items: center;

    &.active{

        visibility: visible;
        opacity: 1;

    }


    .modal-mission__button-return{

        display: flex;
        align-items: center;

        position: absolute;
        top: 15px;
        left: 15px;

        gap: 5px;

        padding: 10px 20px;

        border-radius: v.$border-radius;

        background-color: white;

        cursor: pointer;

        border: 1px solid grey;
        box-shadow: 0px 0px 5px grey;

        color: v.$third-color;

        transition: all 0.3s;

        &:hover{

            background-color: rgb(236, 236, 236);

        }


        ion-icon{

            

        }

        p{

            margin: 0;
            font-weight: 600;

        }

    }


    .modal-mission__first-part{

        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;


        .modal-mission__bg{

            position: absolute;
            top: 0;
            left: 0;

            z-index: -1;
            width: 100%;
            height: 300px;

            &::after{

                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(to bottom, transparent 0%, white 80%)

            }s


            img{

                width: 100%;
                object-fit: cover;

            }

        }


        .modal-mission__avatar{

            width: 120px;
            height: 120px;
            border-radius: 500px;
            border: 5px solid white;
            overflow: hidden;



            img{

                width: 100%;
                height: 100%;
                object-fit: cover;

            }

        }

        .modal-mission__icon{


            width: 100px;
            height: 100px;
            background-color: black;
            border-radius: 20px;

        }


        .modal-mission__titre{

            font-size: 25px;
            font-weight: 600;

        }

    }


    .modal-mission__infos-mission{

        display: flex;
        flex-direction: column;
        background-color: #F5F7FA;
        border-radius: 20px;
        width: calc(95% - 30px);
        margin: auto;
        padding: 15px;
        gap: 15px;


    }

    .modal-mission__one-info{

        display: flex;
        align-items: center;
        gap: 10px;

        ion-icon{

            font-size: 20px;

        }

        p{

            margin: 0;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 20px;

        }

        &:last-child{

            p{

                background-color: v.$primary-color;


            }


        }

    }

    .modal-mission__description{

        width: 95%;
        margin: 0;
        margin: auto;
        font-size: 18px;
        color: grey;


    }

    .modal-mission__creneaux{

        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;


        &-titre{

            display: flex;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            margin: 0;
            gap: 10px;
            


        }

    }

    .modal-mission__all-creneaux{

        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

    }


    .modal-mission__button{

        width: 100%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items:  center start;
        padding: 15px 15px;
        margin: 0;

        cursor: pointer;

        background-color: white;
        border: 2px rgb(194, 194, 194) solid;
        border-radius: v.$border-radius;

        transition: all 0.3s;

        &:hover{

            border: 2px solid #28B881;

        }


        &-date{

            display: flex;
            align-items: center;
            gap: 10px;

            p{

                margin: 0;
                font-weight: 600;
            
            }

            ion-icon{

                opacity: 0;
                transition: all 0.3s;

            }


        }


        &.selected{

            background-color: rgb(213, 255, 213);
            border: 2px solid #28B881;

            .modal-mission__button-date{

                ion-icon{

                    opacity: 1;

                }

            }


        }


        &:disabled{

            cursor: not-allowed;
            border: 2px rgb(220, 220, 220) solid;

            &:hover{

                border: 2px rgb(220, 220, 220) solid;

            }

            .modal-mission__button-horaire{

                p{

                    filter: grayscale(20%);
                    opacity: 0.7;


                }

            }
        

        }


        &-horaire{

            display: flex;
            align-items: center;
            gap: 10px;
            grid-column: 1/2;
            grid-row: 2/3;
            align-self: center end;

            ion-icon{

                font-size: 20px;

            }


            p{

                color: v.$third-color;
                margin: 0;

            }


        }

        &-place{

            grid-column: 2/3;
            grid-row: 1/3;
            place-self: center end;
            color: v.$third-color;
            background-color: rgb(213, 255, 213);
            padding: 5px 10px;
            border-radius: 20px;

            &.completed{

                background: transparent;
                color: inherit;
                font-weight: 600;

            }


        }

    }

    .submitButton{

        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        
        padding: 5px;
        
        margin : auto;

        margin-bottom: 70px;

        gap: 10px;

        background-color: #18B882;
        border-radius: 20px;
        border: none;
        color: white;

        font-size: 22px;
        font-weight: 600;

        cursor: pointer;

        transition: all 0.3s;

        &:hover{

            background-color: #0fa171;

        }


    }


}


    .modal-mission__finish{


        width: 100vw;
        height: 100vh;

        top: 0;
        position: fixed;
        background-color: white;
        display: flex;

    
        flex-direction: column;

        align-items: center;
        justify-content: center;

        &-title{

            font-size: 35px;


        }

        p{

            width: 90%;

            font-size: 22px;
            text-align: center;

            &.grey{

                color: #707280;

            }

        }


        .modal-mission__button-continue{

        display: flex;
        align-items: center;
        justify-content: center;

        width: 95%;

        padding: 20px 20px;

        gap: 10px;

        background-color: #18B882;
        border-radius: 20px;
        border: none;
        color: white;

        font-size: 22px;
        font-weight: 600;

        cursor: pointer;

        transition: all 0.3s;

        &:hover{

            background-color: #0fa171;

        }



        }

    }