.footer{

    position: fixed;
    bottom: 0;

    z-index: 100;

    background-color: white;
    border-top: 1px solid rgb(186, 186, 186);



    width: 100vw;
    display: flex;

    align-items: center;
    justify-content: space-between;




    .footer__button{

        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        //padding: 10px;
        width: 100%;

        border: none;
        cursor: pointer;

        transition: all 0.3s;

        &.active{

            color:  #28B881 ;

        }

        &:hover{

            background-color: rgb(222, 222, 222);

        }

        ion-icon{

            font-size: 20px;

        }


        p{

            font-size: 15px;
            margin: 0;

        }
    

    }



}